/*
	Author: @tiago_taquelim

	-> Using BEM methodology ( block__element--modifier )
	-> Using 7-1 Architecture for sass organization
*/
/*
0 - 600px - Phone 
600 - 900px - Tablet Portrait
900 - 1200px - Tablet Landascape
1200 - 1800 - Normal styles have been aplied
1800+ - Big Desktops
*/
/*
$breakpoint argument choices:
- phone 
- tab-port
- tab-land
- big-desktop
*/
/* Simple Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Even the padding and margin using rem, so by changing the font-size 
    we can change the whole design!!!!*/ }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 0 3rem;
  position: relative; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-primary--underlined {
    margin-bottom: 3rem;
    display: inline-block;
    position: relative;
    color: #2c2c2b;
    font-weight: 500; }
    .heading-primary--underlined::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: #d1b276;
      position: absolute;
      bottom: 4%;
      left: 50%;
      transform: translateX(-50%); }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 3px;
    animation: fromTop 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 300; }

.heading-secondary {
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary--underlined {
    display: inline-block;
    position: relative;
    color: #2c2c2b;
    font-weight: 500; }
    .heading-secondary--underlined::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: #d1b276;
      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%); }

.heading-tertiary {
  font-size: 2.2rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600; }
  @media (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 2rem; } }

.heading-light {
  font-weight: 300;
  font-size: 1.5rem;
  color: #f5f5f5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-huge {
  margin-bottom: 25rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-padding-bottom-big {
  margin-bottom: 13rem; }

.u-padding-bottom-medium {
  margin-bottom: 4rem; }

.u-padding-bottom-small {
  margin-bottom: 1.5rem; }

.c-dark {
  color: #222; }

.c-light {
  color: #fff; }

.u-font-large {
  font-size: 4rem !important;
  margin-top: 0 !important; }

.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  background-color: transparent;
  font-weight: 600; }
  .btn--primary {
    border: 2px solid #d1b276;
    padding: 1.5rem 4rem;
    transition: 0.2s all;
    text-decoration: none;
    background-image: linear-gradient(#d1b276, #d1b276);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%; }
    .btn--primary:hover {
      transform: scale(1.05);
      background-size: 100% 100%; }
  .btn--text {
    color: #c9a254;
    margin-top: 3rem; }

.img-slider {
  position: relative;
  z-index: 10; }
  .img-slider__img {
    position: relative;
    width: 80%;
    height: 48rem;
    background-image: url("../../assets/imgs/house-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    transition: 0.2s all ease; }
    @media (max-width: 56.25em) {
      .img-slider__img {
        height: 40rem; } }
    @media (max-width: 37.5em) {
      .img-slider__img {
        width: 100%; } }
    .img-slider__img--desc {
      font-size: 1.6rem;
      box-shadow: 0 2rem 50px rgba(0, 0, 0, 0.15);
      position: absolute;
      bottom: -10%;
      left: -3%;
      transform: translate(-5%, -5%);
      width: 50%;
      height: 45%;
      background-color: #fff;
      padding: 6rem 4rem; }
      @media (max-width: 56.25em) {
        .img-slider__img--desc {
          width: 50%;
          height: 45%;
          padding: 5rem 2rem; } }
      @media (max-width: 37.5em) {
        .img-slider__img--desc {
          width: 90%;
          height: 40%;
          padding: 3.5rem 2rem;
          transform: translateX(-50%);
          left: 50%; } }
    .img-slider__img::after {
      content: "";
      position: absolute;
      bottom: -15%;
      left: -7%;
      width: 15rem;
      height: 80%;
      background-color: #d1b276;
      z-index: -1; }
      @media (max-width: 37.5em) {
        .img-slider__img::after {
          height: 0;
          display: none; } }
    .img-slider__img::before {
      content: "";
      position: absolute;
      top: -2%;
      right: -1%;
      width: 10rem;
      height: 10rem;
      background-color: #d1b276;
      z-index: -1; }
      @media (max-width: 37.5em) {
        .img-slider__img::before {
          height: 0;
          display: none; } }

.feature-box {
  text-align: center;
  background-color: #fff;
  padding: 3rem;
  transition: 0.2s all; }
  @media (max-width: 56.25em) {
    .feature-box {
      display: flex;
      flex-flow: column wrap; } }
  .feature-box > i {
    font-size: 10rem;
    color: transparent;
    background-image: linear-gradient(to right, #d1b276, #7e6127);
    -webkit-background-clip: text;
    background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1rem); }
    @media (max-width: 56.25em) {
      .feature-box:hover {
        transform: translateX(-1.3rem); } }

.page-wrapper__top {
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  position: fixed;
  background-color: #fff;
  z-index: 999; }

.page-wrapper__bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  position: fixed;
  background-color: #fff;
  z-index: 999; }

.row {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    font-size: 2rem;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row--no-gutter:not(:last-child) {
    margin: 0 auto; }
  .row--no-gutter [class^="col-"]:not(:last-child) {
    margin: 0; }
  .row--no-gutter .col-1-of-2 {
    width: calc((100%) / 2); }
  .row--no-gutter .col-1-of-3 {
    width: calc((100%) / 3); }
  .row--no-gutter .col-2-of-3 {
    width: calc(2 * ((100%) / 3)); }
  .row--no-gutter .col-1-of-4 {
    width: calc((100%) / 4); }
  .row--no-gutter .col-2-of-4 {
    width: calc(2 * ((100%) / 4)); }

.header {
  margin-top: 12rem;
  height: 140vh;
  position: relative;
  background-color: #f5f5f5;
  z-index: 1; }
  @media (max-width: 37.5em) {
    .header {
      height: 100vh; } }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(44, 44, 43, 0.2), rgba(75, 75, 75, 0.4)), url("../../assets/imgs/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: 90%; } }
  .header__logo-box {
    position: absolute;
    top: -7rem;
    left: 4rem;
    background-color: #fff;
    width: 25rem;
    height: 25rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); }
    @media (max-width: 56.25em) {
      .header__logo-box {
        width: 20rem;
        height: 20rem; } }
    @media (max-width: 37.5em) {
      .header__logo-box {
        width: 16rem;
        height: 16rem; } }
    .header__logo-box__logo-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 56.25em) {
        .header__logo-box__logo-icon {
          width: 15rem;
          height: 15rem; } }
      @media (max-width: 37.5em) {
        .header__logo-box__logo-icon {
          width: 12rem;
          height: 12rem; } }

.grid-item {
  position: relative;
  width: 100%;
  height: 30rem;
  background-color: brown;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s all;
  cursor: pointer; }
  .grid-item__overlay {
    transition: 0.3s all;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    color: #fff; }
  .grid-item::after {
    content: "";
    transition: 0.3s all;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 43, 0.9);
    opacity: 0;
    top: 0;
    left: 0; }
  .grid-item:hover .grid-item__overlay, .grid-item:hover::after {
    opacity: 1; }
  .grid-item--1 {
    background-image: url("../../assets/imgs/grid-houses/g1.jpg"); }
  .grid-item--2 {
    background-image: url("../../assets/imgs/grid-houses/g2.jpg"); }
  .grid-item--3 {
    background-image: url("../../assets/imgs/grid-houses/g3.jpg"); }
  .grid-item--4 {
    background-image: url("../../assets/imgs/grid-houses/g4.jpg"); }
  .grid-item--5 {
    background-image: url("../../assets/imgs/grid-houses/g5.jpg"); }
  .grid-item--6 {
    background-image: url("../../assets/imgs/grid-houses/g6.jpg"); }
  .grid-item--7 {
    background-image: url("../../assets/imgs/grid-houses/g7.jpg"); }

.footer {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  height: 110vh;
  font-size: 2.4rem;
  padding: 3rem;
  z-index: 2;
  text-align: center; }
  @media (max-width: 56.25em) {
    .footer {
      height: 100%; } }
  .footer__text-box {
    font-size: 1.8rem;
    margin: 3rem auto;
    max-width: 450px; }
  .footer__row > .col-1-of-3 > h3 {
    margin-bottom: 3rem; }
  .footer__row .row--col {
    list-style: none; }
    .footer__row .row--col > li > a {
      position: relative;
      text-decoration: none;
      color: inherit;
      transition: 0.3s all;
      z-index: 5; }
      .footer__row .row--col > li > a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        z-index: 1;
        background-color: #c9a254;
        opacity: 0;
        transform-origin: left;
        transform: scaleX(2);
        transition: 0.2s all; }
      .footer__row .row--col > li > a:hover {
        color: #555; }
      .footer__row .row--col > li > a:hover::after {
        opacity: 1;
        transform: translateX(0); }
  .footer__socials {
    list-style: none; }
    .footer__socials > ul {
      list-style: inherit; }
      .footer__socials > ul > li {
        z-index: 100;
        position: relative;
        display: inline-block;
        margin: 1rem;
        padding: 0 1rem;
        font-size: 3rem;
        stroke-dashoffset: 227;
        stroke: #2c2c2b;
        width: 50px;
        height: 50px;
        cursor: pointer; }
        .footer__socials > ul > li::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 100rem;
          border: 1px solid #b6afaf;
          z-index: -1; }
          @media (max-width: 56.25em) {
            .footer__socials > ul > li::after {
              border: 0; } }
        .footer__socials > ul > li > .social-link {
          color: #d1b276; }
          .footer__socials > ul > li > .social-link:hover {
            color: #c9a254; }
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    -webkit-clip-path: polygon(0 0, 0 96%, 100% 0);
    clip-path: polygon(0 0, 0 96%, 100% 0);
    z-index: -1; }

.nav__checkbox {
  display: none; }

.nav__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center; }
  @media (max-width: 56.25em) {
    .nav__button {
      height: 5rem;
      width: 5rem; } }

.nav__icon {
  position: relative;
  margin-top: 2.4rem; }
  @media (max-width: 56.25em) {
    .nav__icon {
      margin-top: 2.4rem; } }
  .nav__icon, .nav__icon::after, .nav__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #555;
    display: inline-block; }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .nav__icon::after {
    top: 0.8rem; }
  .nav__icon::before {
    top: -0.8rem; }

.nav__background {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #c9a254;
  z-index: 1020;
  transition: 0.4s all ease-in; }
  @media (max-width: 56.25em) {
    .nav__background {
      width: 50%; } }
  @media (max-width: 37.5em) {
    .nav__background {
      width: 75%; } }
  .nav__background--2 {
    background-color: #222;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 2000;
    transition: 0.7s all ease-in; }
    .nav__background--2::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
      -webkit-clip-path: polygon(0 0, 0 86%, 100% 0);
      clip-path: polygon(0 0, 0 86%, 100% 0);
      z-index: -1; }

.nav__backgroundclose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(85, 85, 85, 0.712);
  top: 0;
  z-index: -1;
  transition: 0.4s all ease-in;
  opacity: 0; }

.nav__items {
  list-style: none;
  text-align: left;
  margin-top: 20%;
  margin-left: 40px; }

.nav__item {
  font-size: 24px;
  font-weight: 200;
  margin: 20px 0;
  color: #fff;
  transition: 0.3s all;
  position: relative; }
  .nav__item::after {
    content: "";
    width: 2px;
    height: 50%;
    background-color: #c9a254;
    position: absolute;
    top: 25%;
    left: -3%;
    opacity: 0;
    transition: 0.3s all; }
  .nav__item:hover {
    color: #b28938; }
  .nav__item:hover::after {
    opacity: 1; }
  .nav__item a {
    text-decoration: none;
    color: inherit; }

.nav__checkbox:checked ~ .nav__background {
  transform: translateX(0); }

.nav__checkbox:checked ~ .nav__background .nav__background--2 {
  transform: translateX(0); }

.nav__checkbox:checked ~ .nav__button {
  display: none; }

.nav__checkbox:checked ~ .nav__backgroundclose {
  opacity: 1 !important;
  z-index: 1000; }

.logo--2 {
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
  position: absolute;
  top: 5%;
  right: 0%;
  background-color: #d1b276;
  padding: 10px; }
  .logo--2::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #c9a254;
    position: absolute;
    top: 7%;
    left: 10%;
    z-index: -1; }
  .logo--2 > span {
    color: #555;
    font-weight: 400; }

.main {
  background-color: #f5f5f5;
  padding: 15rem 0; }

.section-features {
  position: relative;
  padding: 10rem;
  padding-bottom: 14rem;
  padding-top: 5rem;
  z-index: 5; }
  @media (max-width: 56.25em) {
    .section-features > .row > .col-1-of-3 {
      width: 100%; }
      .section-features > .row > .col-1-of-3:not(:last-child) {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .section-features {
      padding: 3rem; } }
  .section-features::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d1b276;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 100% 0, 100% 84%, 51% 85%, 51% 100%, 0 100%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 100% 0, 100% 84%, 51% 85%, 51% 100%, 0 100%);
    z-index: -1; }
    @media (max-width: 56.25em) {
      .section-features::after {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .section-features > .title {
    position: absolute;
    top: -10%;
    right: 20%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 3rem; }
    @media (max-width: 56.25em) {
      .section-features > .title {
        left: 50%;
        top: -5%;
        transform: translateX(-50%);
        width: 55%; } }
    @media (max-width: 37.5em) {
      .section-features > .title {
        width: 70%; } }

.house-of-week {
  position: relative;
  height: 120vh;
  width: 100%; }
  @media (max-width: 56.25em) {
    .house-of-week {
      height: 80vh; } }
  .house-of-week::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(44, 44, 43, 0.2), rgba(75, 75, 75, 0.4)), url("../../assets/imgs/house-of-the-week.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 51% 0, 51% 29%, 100% 29%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 51% 0, 51% 29%, 100% 29%, 100% 100%, 0 100%); }
    @media (max-width: 56.25em) {
      .house-of-week::after {
        height: 80vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .house-of-week__text-box {
    font-size: 1.6rem;
    position: absolute;
    top: -5%;
    right: 1%;
    z-index: 2;
    width: 40%; }
    @media (max-width: 56.25em) {
      .house-of-week__text-box {
        top: 10%;
        right: 50%;
        left: 50%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 20px;
        color: #fff;
        transform: translateX(-50%); } }
    @media (max-width: 37.5em) {
      .house-of-week__text-box {
        width: 90%; } }
  .house-of-week__action-box {
    position: absolute;
    display: block;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    text-align: center;
    z-index: 5;
    background-color: #fff;
    font-size: 1.6rem;
    padding: 3rem;
    cursor: pointer;
    transition: 0.2s all; }
    @media (max-width: 56.25em) {
      .house-of-week__action-box {
        top: 70%;
        width: 13rem;
        padding-top: 10px;
        height: 13rem; }
        .house-of-week__action-box > h3 {
          display: none; } }
    @media (max-width: 37.5em) {
      .house-of-week__action-box {
        width: 8rem;
        height: 8rem;
        padding: 0; } }
    .house-of-week__action-box > i {
      font-size: 7rem;
      color: transparent;
      background-image: linear-gradient(to right, #d1b276, #7e6127);
      -webkit-background-clip: text;
      background-clip: text; }
      @media (max-width: 37.5em) {
        .house-of-week__action-box > i {
          font-size: 5rem; } }
    .house-of-week__action-box:hover {
      transform: translate(-50%, -50%) scale(1.05);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); }
