.footer {
	position: relative;
	width: 100%;
	background-color:  $color-gray-light;
	height: 120vh;
	font-size: 2.4rem;
	padding: 3rem;
	z-index: 2;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(224, 220, 220);
		clip-path: polygon(0 0, 100% 0, 0 100% );
		z-index: -1;
	}
}