.header {
	margin-top: 12rem;
	height: 140vh;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(44,44,43,0.2), rgba(75, 75, 75, 0.4)) ,
		 url("https://images.pexels.com/photos/1612351/pexels-photo-1612351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		text-align: center;
		// Shifts in relation to the size to fit
		transform: translate(-50%, -50%);
	}

	&__logo-box {
		position: absolute;
		top: -7rem;
		left: 4rem;
		background-color: #fff;
		width: 25rem;
		height: 25rem;
		box-shadow: 0 4px 30px rgba(#000, 0.2);
	}
}

.logo {
	font-size: 10rem;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	&--text {
		font-size: 5rem;
		color: #444;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

