.header {
	margin-top: 12rem;
	height: 140vh;
	position: relative;
	background-color: $color-gray-light;
	z-index: 1;

	&--video {
		width: 100%;
		height: 70vh;

		&::after {
			display: none;
		}
	}
	&--2 {
		&::after {
			background-image: linear-gradient(
					to bottom,
					rgba(44, 44, 43, 0.5),
					rgba(75, 75, 75, 0.8)
				),
				url("../../assets/imgs/stathere_hero.jpg") !important;
		}
	}

	@include respond(phone) {
		height: 100vh;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
				to bottom,
				rgba(44, 44, 43, 0.2),
				rgba(75, 75, 75, 0.4)
			),
			url("../../assets/optimised-imgs/Optimized-hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
	}

	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		// Shifts in relation to the size to fit
		transform: translate(-50%, -50%);

		@include respond(phone) {
			width: 90%;
		}
	}

	&__logo-box {
		position: absolute;
		top: -7rem;
		left: 4rem;
		background-color: #fff;
		width: 25rem;
		height: 25rem;
		box-shadow: $box-shadow;

		&--small {
			width: 20rem;
			height: 20rem;
		}

		@include respond(tab-port) {
			width: 20rem;
			height: 20rem;
		}
		@include respond(phone) {
			width: 16rem;
			height: 16rem;
		}

		&__logo-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&--small {
				width: 15rem;
				height: 15rem;
			}

			@include respond(tab-port) {
				width: 15rem;
				height: 15rem;
			}
			@include respond(phone) {
				width: 12rem;
				height: 12rem;
			}
		}
	}
}
