.feature-box {
	text-align: center;
	background-color: #fff;
	padding: 3rem;
	transition: 0.2s all;
	font-size: $default-font-size;
	height: 435px;

	@include respond(tab-port) {
		display: flex;
		flex-flow: column wrap;
		height: auto;
	}

	& > i {
		font-size: 10rem;
		@include gradientTextEffect;
	}

	&:hover {
		transform: translateY(-1rem);

		@include respond(tab-port) {
			transform: translateX(-1.3rem);
		}
	}
}
