.u-center-text {
	text-align: center;
}

.u-margin-bottom-huge {
	margin-bottom: 25rem;
}

.u-margin-bottom-big {
	margin-bottom: 8rem;
	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}
.u-margin-bottom-medium {
	margin-bottom: 4rem;
	@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}
}
.u-margin-bottom-small {
	margin-bottom: 1.5rem;
}

.u-padding-bottom-big {
	margin-bottom: 13rem;
}
.u-padding-bottom-medium {
	margin-bottom: 4rem;
}
.u-padding-bottom-small {
	margin-bottom: 1.5rem;
}

.c-dark {
	color: #222;
}
.c-light {
	color: #fff;
}

.u-font-large {
	font-size: 4rem !important;
	margin-top: 0 !important;
}
