.about {
	background-color: $color-gray-light;
	padding: 5rem 0;
	padding-bottom: 10rem;
}
.section-about-us {
	position: relative;
	padding: 2rem 10rem;
	z-index: 5;
	text-align: center;

	&__desc {
		font-size: $default-font-size;
		color: #333;
	}
}
.section-info {
	text-align: center;
	.info {
		background-color: #333;
		& > .row > .col-1-of-3 {
			& > ul {
				list-style: none;
				color: #fff;
				padding: 3rem;
				text-align: left;
				text-transform: uppercase;
				font-weight: 400;
				& > li {
					padding: 1rem;
					.icon-basic-pin2 {
						color: $color-primary;
					}
				}
				& > li:not(:last-child) {
					margin-bottom: 3rem;
				}
			}
		}
	}
}
