.starthere-form {
	font-size: $default-font-size;
	display: flex;
	text-align: start;
	flex-flow: column;

	justify-content: center;
	margin: 5rem auto;

	&__input {
		max-width: 400px;

		height: 3rem;
		border: 1px #eee solid;
		border-radius: 4px;
		margin-bottom: 3rem;
		padding: 1.5rem;
		&:required {
			border-left: 2px solid $color-primary-light;
		}
	}
	&__label {
		color: #333;
	}

	&__text-area {
		max-width: 700px;
		height: 200px;
		border: 1px #eee solid;
		font-size: 2rem;
		color: #111;
		padding: 1.5rem;
	}
}
